# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin
*.dSYM
a

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.class
*.zip
*.jar
*.war
a
a.dSYM/
